body {
    background-image:url(bg_makanan.jpg);
    background-size:cover;
    background-position:center;
    margin:0;
    height:150vh;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
}
form {
    width:50%;
    min-width:300px;
    margin:10px auto;
}
fieldset {
    background-color:#f8e092;
    border-radius:10px;
    padding:30px;
    box-shadow:0 5px 5px rgb(80, 74, 74);
    margin:10vh;
}
p {
    margin-top:20px;
    margin-left:5px;
    margin-bottom:4px;
    color:#686c6e;
}
input,select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border:none;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width:100%;
    margin-top:12px;
    border:none;
    border-radius:10px;
    padding:10px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    background-color:#FEFBF6;
    cursor:pointer;
    transition:0.3s;
}
button:hover {
    background-color:#ECB159;
    color:#FEFBF6;
}
h1 {
    text-align:center;
    color:#f8e092;
    margin:none;
    padding-top:50px;
}

button a{
    color:#494847;
    text-decoration:none;
}